<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
    <title>KPPTR interface</title>

  </head>

  <body onload="webInit()">
    <div class="navbar">
      <table>
        <tr>
          <td id="menu_home_td"><a id="menu_home" onclick="SelectSection_Home()">Status</a></td>
          <td id="menu_storage_td"><a id="menu_storage" onclick="SelectSection_Storage()">Storage</a></td>
          <td id="menu_ign_td"><a id="menu_ign" onclick="SelectSection_Ign()">IGN</a></td>
          <td id="menu_settings_td"><a id="menu_settings" onclick="SelectSection_Settings()">Settings</a></td>
          <td id="menu_live_td"><a id="menu_live" onclick="SelectSection_Live()">Live</a></td>
        </tr>
      </table>
    </div>

    <div id="tab-main" class="tab-main">
      <table class="table-main">
	    <tr>
          <td colspan="3">
            <label><b>Summary</b></label>
          </td>
        </tr>
		<tr>
          <td colspan="1">
            <label>System status</label>
          </td>
          <td colspan="3">
            <label id="label-status-system">????</label>
          </td>
        </tr>
		<tr>
          <td colspan="1">
            <label>GPS status</label>
          </td>
          <td colspan="3">
            <label id="label-status-gpsstat">????</label>
          </td>
        </tr>
		<tr>
          <td colspan="1">
            <label>GPS satellites</label>
          </td>
          <td colspan="3">
            <label id="label-status-gpssats">????</label>
          </td>
        </tr>
		<tr>
          <td colspan="1">
            <label>Rocket tilt</label>
          </td>
          <td colspan="3">
            <label id="label-status-angle">????</label>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <label>Battery voltage</label>
          </td>
          <td colspan="3">
            <label id="label-status-vbat">????</label>
          </td>
        </tr>
		<tr>
          <td colspan="1">
            <label>Arming status</label>
          </td>
          <td colspan="3">
            <label id="label-status-arming">????</label>
          </td>
        </tr>
		<tr>
          <td colspan="1">
            <label>Arming</label>
          </td>
          <td colspan="3">
            <button class="tab-main-arming" id="button-arming"  onclick="main_arming_handler()">Arming!</button>
          </td>
        </tr>
		<tr>
          <td colspan="1">
            <label>Disarming</label>
          </td>
          <td colspan="3">
            <button class="tab-main-disarming" id="button-disarming"  onclick="main_disarming_handler()">Disarming!</button>
          </td>
        </tr>
		
		<tr>
		<td colspan="3">
		</td>
		</tr>
		<tr>
          <td colspan="3">
            <label><b>Details</b></label>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <label>Serial number</label>
          </td>
          <td colspan="3">
            <label id="label-status-serial-number">????</label>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <label>Software version</label>
          </td>
          <td colspan="3">
            <label id="label-status-software-version">????</label>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <label>System state</label>
          </td>
          <td colspan="3">
            <label id="label-status-arming">????</label>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <label>Timestamp</label>
          </td>
          <td colspan="3">
            <label id="label-status-timestamp_ms">????</label>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <label>Analog driver</label>
          </td>
          <td colspan="3">
            <label id="label-status-analog">????</label>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <label>Lora driver</label>
          </td>
          <td colspan="3">
            <label id="label-status-lora">????</label>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <label>ADCS driver</label>
          </td>
          <td colspan="3">
            <label id="label-status-adcs">????</label>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <label>Storage driver</label>
          </td>
          <td colspan="3">
            <label id="label-status-storage">????</label>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <label>SysMgr driver</label>
          </td>
          <td colspan="3">
            <label id="label-status-sysmgr">????</label>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <label>Utility driver</label>
          </td>
          <td colspan="3">
            <label id="label-status-utils">????</label>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <label>Web driver</label>
          </td>
          <td colspan="3">
            <label id="label-status-web">????</label>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <label>Pressure</label>
          </td>
          <td colspan="3">
            <label id="label-status-pressure">????</label>
          </td>
        </tr>

        

      </table>
    </div>

    <div id="tab-storage" class="tab-storage">
      <button type="button" id="button-log-download" class="button-log-download" onclick="storage_download_handler()">
        Download log
      </button>
      <br><br><br><br><br><br><br><br><br><br><br>
      <button type="button" id="button-log-remove" class="button-log-remove" onclick="storage_remove_handler()">
        Remove log
      </button>
    </div>

    <div id="tab-igniters" class="tab-igniters">
      <table class="table-igniters">
        <tr>
          <td colspan="1">
            <label>Igniter 1</label>
          </td>
          <td colspan="3">
            <label id="label-igniter1-cont-status">????</label>
          </td>
        </tr>
        <tr>
          <td>
            <label>Ign 1 test</label>
          </td>
          <td>
            <button class="button-ign-fire" id="button-ign1-fire" disabled="true" onclick="ign_ign1_fire_handler()">FIRE!</button>
          </td>
          <td>
            <label id="label-igniter1-lock-status"> Status Locked </label>
          </td>
          <td>
            <button class="button-ign-unlock" id="button-ign1-unlock" onclick="ign_ign1_unlock_handler()">UNLOCK</button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="1">
            <label>Igniter 2</label>
          </td>
          <td colspan="3">
            <label id="label-igniter2-cont-status">????</label>
          </td>
        </tr>
        <tr>
          <td>
            <label>Ign 2 test</label>
          </td>
          <td>
            <button class="button-ign-fire" id="button-ign2-fire" disabled="true" onclick="ign_ign2_fire_handler()">FIRE!</button>
          </td>
          <td>
            <label id="label-igniter2-lock-status"> Status Locked </label>
          </td>
          <td>
            <button class="button-ign-unlock" id="button-ign2-unlock" onclick="ign_ign2_unlock_handler()">UNLOCK</button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="1">
            <label>Igniter 3</label>
          </td>
          <td colspan="3">
            <label id="label-igniter3-cont-status">????</label>
          </td>
        </tr>
        <tr>
          <td>
            <label>Ign 3 test</label>
          </td>
          <td>
            <button class="button-ign-fire" id="button-ign3-fire" disabled="true" onclick="ign_ign3_fire_handler()">FIRE!</button>
          </td>
          <td>
            <label id="label-igniter3-lock-status"> Status Locked </label>
          </td>
          <td>
            <button class="button-ign-unlock" id="button-ign3-unlock" onclick="ign_ign3_unlock_handler()">UNLOCK</button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="1">
            <label>Igniter 4</label>
          </td>
          <td colspan="3">
            <label id="label-igniter4-cont-status">????</label>
          </td>
        </tr>
        <tr>
          <td>
            <label>Ign 4 test</label>
          </td>
          <td>
            <button class="button-ign-fire" id="button-ign4-fire" disabled="true" onclick="ign_ign4_fire_handler()">FIRE!</button>
          </td>
          <td>
            <label id="label-igniter4-lock-status"> Status Locked </label>
          </td>
          <td>
            <button class="button-ign-unlock" id="button-ign4-unlock" onclick="ign_ign4_unlock_handler()">UNLOCK</button>
          </td>
        </tr>
      </table>
    </div>

    <div id="tab-settings" class="tab-settings">
      <table class="table-settings">
        <tr>
          <td colspan="1">
            <label>Launchpad height [m]</label>
          </td>
          <td>
            <input class="tab-settings-input" type="number" id="pref-launchpad-height" min="2" max="10" value="-1" onchange="updatePreferencesData()">
          </td>
        </tr>
        <tr>
          <td>
            <label>Main parachute altitude [m]</label>
          </td>
          <td>
            <input class="tab-settings-input" type="number" id="pref-main-alt" min="20" max="10000" value="-1" onchange="updatePreferencesData()">
          </td>
        </tr>
        <tr>
          <td>
            <label>Drouge parachute altitude [m]</label>
          </td>
          <td>
            <input class="tab-settings-input" type="number" id="pref-drouge-alt" min="20" max="100000" value="-1" onchange="updatePreferencesData()">
          </td>
        </tr>
        <tr>
          <td>
            <label>Staging delay [s]</label>
          </td>
          <td>
            <input class="tab-settings-input" type="number" id="pref-staging-delay" min="0" max="60" value="-1" onchange="updatePreferencesData()">
          </td>
        </tr>
        <tr>
          <td>
            <label>Staging max tilt [deg]</label>
          </td>
          <td>
            <input class="tab-settings-input" type="number" id="pref-staging-tilt" min="0" max="90" value="-1" onchange="updatePreferencesData()">
          </td>
        </tr>
        <tr>
          <td>
            <label>Autoarming</label>
          </td>
          <td>
            <select class="tab-settings-input" id="pref-autoarm-enable">
              <option value="enable">Enable</option>
              <option value="disable">Disable</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Auto arming time [s]</label>
          </td>
          <td>
            <input class="tab-settings-input" type="number" id="pref-autoarm_delay" min="0" max="600" value="-1" onchange="updatePreferencesData()">
          </td>
        </tr>
        <tr>
          <td>
            <label>WiFi password</label>
          </td>
          <td>
            <input class="tab-settings-input" type="text" id="pref-wifi-pass" minlength="6" maxlength="10" size="12" oninput="updatePreferencesData()">
          </td>
        </tr>
		<tr>
          <td>
            <label>LoRa mode</label>
          </td>
          <td>
			<select class="tab-settings-input" id="pref-lora-mode">
			  <option value="disable">Disable</option>
              <option value="network">Network</option>
              <option value="exclusive">Exclusive</option>
            </select>
          </td>
        </tr>
		<tr>
          <td>
            <label>LoRa frequency [MHz]</label>
          </td>
          <td>
            <input class="tab-settings-input" type="number" id="pref-lora-frequency" min="420" max="450" value="433" step=".01" size="12" onchange="updatePreferencesData()">
          </td>
        </tr>
        <tr>
          <td>
            <label>Undo unsaved changes</label>
          </td>
          <td>
            <input class="tab-settings-undo" type="submit" id="pref-undo" value="Undo changes">
          </td>
        </tr>
        <tr>
        <td>
          
        </td>
        </tr>
        <tr>
          <td>
            <label>Submit changes</label>
          </td>
          <td>
            <input class="tab-settings-submit" type="submit" id="pref-submit" value="Save changes" onclick="sendPreferencesData(preferencesData)">
          </td>
        </tr>
      </table>
    </div>

    <div id="tab-live" class="tab-live">
    </div>

  </body>

</html>
